{{ template "base_head_start" . }}
<title>Dashboard FV</title>
{{ template "base_head_end" . }}

{{ template "base_body_start" . }}
<div class="dashboard">
    <div class="left-column">
        <div class="box chart-box box-today">
            {{ template "partials/chart_today" . }}
        </div>
        <div class="box chart-box box-yesterday">
            {{ template "partials/chart_yesterday" . }}
        </div>
    </div>
    
    <div class="right-column">
        {{ template "partials/header" . }}
        {{ template "partials/kpis" . }}
        <div class="box small-charts">
            {{ template "partials/chart_minus_2" . }}
            {{ template "partials/chart_minus_3" . }}
            {{ template "partials/chart_minus_4" . }}
            {{ template "partials/chart_minus_5" . }}
            {{ template "partials/chart_minus_6" . }}
        </div>
    </div>
    
</div>
{{ template "base_body_end" . }}