{{ template "base.html" . }}

{{ define "title" }}Dashboard FV {{ end }}

{{ define "content" }}
<div class="dashboard">
    <div class="left-column">
        <div class="box box-today">
            {{ template "partials/chart_today" . }}
        </div>
        <div class="box box-yesterday">
            {{ template "partials/chart_yesterday" . }}
        </div>
    </div>
    
    <div class="right-column">
        {{ template "partials/header" . }}
        {{ template "partials/kpis" . }}
        <div class="box small-charts-top">
            {{ template "partials/chart_minus_2" . }}
            {{ template "partials/chart_minus_3" . }}
        </div>
        <div class="box small-charts-bottom">
            {{ template "partials/chart_minus_4" . }}
            {{ template "partials/chart_minus_5" . }}
            {{ template "partials/chart_minus_6" . }}
        </div>
    </div>

</div>
{{ end }}